<div>
  <br>
  <button class="btn btn-primary" (click)="startJob()">Start update</button>
  <br>
  <br>
  <div class="alert-info">{{statusMessage}}</div>
  <br>
  <ngb-progressbar *ngIf="stepMessage" type="info" [value]="percentCompleted">{{stepMessage}}</ngb-progressbar>
</div>
