<div class="btn-group-justified">
  <button class="btn btn-primary" routerLink="/categories">Categories</button>
  <button class="btn btn-primary" routerLink="/update-data">Update data</button>
</div>

