<div style="width: 600px; height: 600px;">
  <ag-grid-angular #agGrid
                   style="width: 100%; height: 100%"
                   [gridOptions]="gridOptions"
                   [rowData]="rowData"
                   class="ag-theme-material"
                   rowSelection="single">
  </ag-grid-angular>
</div>
